<div id="bottomURL">{{bottomURL}}</div>
<div id="topURL">{{topURL}}</div>
<div id="leftURL">{{leftURL}}</div>
<div id="rightURL">{{rightURL}}</div>

<iframe src="https://www.google.com/maps/d/embed?mid=1fYat2vSKPp0aoNy1OdLVTyZ9iR85bqb8" height="100%" width="100%"></iframe>

<div id="position-meteo">
  <app-meteo-tiny></app-meteo-tiny>
</div>

<div>
  <div class="col arrow-left text-dark">
    <span class="material-icons material-icons-right-left">
      keyboard_arrow_left
    </span>
    <p>Activités</p>
  </div>
</div>

<div class="text-center arrows-plan">
  <span class="material-icons material-icons-top-bottom">
    keyboard_arrow_up
  </span>
  <p>Activités</p>
</div>

<div class="text-center arrows-plan arrow-bottom">
  <p>Activités</p>
  <span class="material-icons material-icons-top-bottom">
    keyboard_arrow_down
  </span>
</div>

<app-infos-scrolling></app-infos-scrolling>
