<div id="wrapper">
  <section *ngIf="router.url === '/tarification/room-service'" class="item-1">
    <h1>Room-Service</h1>
  </section>

  <div *ngIf="router.url === '/tarification/room-service'" id="lunch" class="drop-dwn">
    <div class="row">
      <div class="col">
        <h2 class="title">Service en chambre</h2>
      </div>
    </div>

    <div class="row-halves">
      <div class="col">
        <h2>Plateau TV</h2>
        <h3>Saumon fumé, foie gras, aubergines</h3>
        <p>Cœur de saumon fumé par nos soins,
          tomates confites, pépites de foie gras de canard au sésame,
          caviar d’aubergines et ses toasts dorés</p>
        <h3>Smoked salmon, duck foie gras, eggplant</h3>
        <p>home-smoked salmon, confit tomatoes,
          duck foie gras with sesame seeds, eggplant caviar, toasts</p>
        <h5>29 €</h5>
      </div>

      <div class="col">
        <h2>Petit déjeuner</h2>
        <h3>Petit déjeuner parisien</h3>
        <p>1 boisson chaude + 1 croissant +
          1 petit pain + beurre + confiture + 1 jus de fruits</p>
        <h3>Parisian breakfast</h3>
        <p>1 hot beverage + 1 croissant + 1 bread roll + Cornflakes 5,20
          butter + jam + 1 fruit juice</p>
        <h5>13 €</h5>
      </div>
    </div>

  <div class="row">
    <div class="col text-center">
      <p>Tout les plats de notre carte sont disponible en room-service avec un supplément de 3€</p>
    </div>
  </div>
  </div>

  <section *ngIf="router.url === '/tarification/mini-bar'" class="item-2">
    <h1>Mini-bar</h1>
  </section>
  <div *ngIf="router.url === '/tarification/mini-bar'" id="dinner" class="drop-dwn">
    <div class="row">
      <div class="col">
        <h2 class="title">Boissons et snacks</h2>
      </div>
    </div>

    <div class="row-halves">
      <div class="col">
        <h2>Boissons</h2>
        <p>Vittel 50cl</p>
        <p>San Pellegrino 50cl</p>
        <p>Jus d'orange 20cl</p>
        <p>Smoothie 20cl</p>
        <p>CocaCola 33cl</p>
        <h2>Snacks</h2>
        <p>Petits gateaux</p>
        <p>Springles</p>
        <p>Cacahuètes</p>
      </div>

      <div class="col">
        <p>___</p>
        <p>5€</p>
        <p>5€</p>
        <p>5€</p>
        <p>5€</p>
        <p>5€</p>
        <p>___</p>
        <p>4€</p>
        <p>4€</p>
        <p>4€</p>
      </div>
    </div>
  </div>

  <section *ngIf="router.url === '/tarification/multimedia'" class="item-3">
    <h1>WIFI</h1>
  </section>
  <div *ngIf="router.url === '/tarification/multimedia'" id="desserts" class="drop-dwn">
    <div class="row">
      <div class="col">
        <h2 class="title">Connexion wifi en chambre</h2>
      </div>
    </div>

    <div class="row-halves">
      <div class="col">
        <h2>Connexion à la journée</h2>
        <h2>Connexion à la Semaine</h2>
      </div>

      <div class="col">
        <p>4€</p>
        <p>15€</p>
      </div>
    </div>
  </div>

  <section *ngIf="router.url === '/tarification/laundry'" class="item-4">
    <h1>Laundry</h1>
  </section>
  <div *ngIf="router.url === '/tarification/laundry'" id="drinks" class="drop-dwn">
    <div class="row">
      <div class="col">
        <h2 class="title">Blanchisserie</h2>
      </div>
    </div>

    <div class="row-halves">
      <div class="col">
        <h2>Pieces</h2>
        <p>T-shirt</p>
        <p>Robe</p>
        <p>Chemise</p>

      </div>
      <div class="col">
        <h2>Prix</h2>
        <p>4€</p>
        <p>7€</p>
        <p>6€</p>
      </div>
    </div>
  </div>

</div>
