#tiny {
  padding-top: 40px;
  display: flex;
}

#tiny #hours {
  display: flex;
  align-items: center;
  font-size: 7em;
  margin-top: 20px;
}

#tiny img {
  margin-left: 2em;
  margin-top: 3em;
  width: 8em;
  height: 8em;
}
