<div class="col arrow-up">
  <span class="material-icons material-icons-top-bottom">
    keyboard_arrow_up
  </span>
  <!--<p *ngIf="router.url === '/tarification/room-service'">Home</p>
  <p *ngIf="router.url === '/tarification/mini-bar'">Multimedia</p>
  <p *ngIf="router.url === '/tarification/laundry'">Mini-bar</p>
  <p *ngIf="router.url === '/tarification/multimedia'">Room-service</p>
  <p *ngIf="router.url === '/restaurant/drink'">Dessert</p>
  <p *ngIf="router.url === '/restaurant/lunch'">Home</p>
  <p *ngIf="router.url === '/restaurant/dinner'">Lunch</p>
  <p *ngIf="router.url === '/restaurant/dessert'">Dinner</p>-->
</div>

<div class="d-flex justify-content-around">
  <div class="col arrow-left">
    <span class="material-icons material-icons-right-left">
      keyboard_arrow_left
    </span>
    <!-- <p>Home</p>-->
  </div>
  <div class="col arrow-right">
    <span class="material-icons material-icons-right-left">
      keyboard_arrow_right
    </span>
    <!--<p>Home</p>
    <p>Activité</p>
    <p>Plan</p>
    <p>Restaurant</p>
    <p>Tarification</p>
    <p></p>-->
  </div>
</div>


<div class="col arrow-down">
  <!--<p *ngIf="router.url === '/restaurant/dinner'">Dessert</p>
  <p *ngIf="router.url === '/restaurant/dessert'">Drink</p>
  <p *ngIf="router.url === '/restaurant/drink'">Lunch</p>
  <p *ngIf="router.url === '/restaurant/lunch'">Dinner</p>
  <p *ngIf="router.url === '/tarification/room-service'">Multimedia</p>
  <p *ngIf="router.url === '/tarification/mini-bar'">Laundry</p>
  <p *ngIf="router.url === '/tarification/laundry'">Room-service</p>
  <p *ngIf="router.url === '/tarification/multimedia'">Mini-bar</p>-->
  <span class="material-icons material-icons-top-bottom">
    keyboard_arrow_down
  </span>
</div>
