@keyframes direction_right_left {
  0% {
    transform:translateX(0px)
  }

  100% {
    transform:translateX(15px) ;
  }
}

@keyframes direction_top_bottom {
  0% {
    transform:translateY(0px)
  }

  100% {
    transform:translateY(15px) ;
  }
}

body{
  width: 100%;
  display: flex;
}

.material-icons{
  font-size: 9em;
}


.material-icons-right-left{
  animation: direction_right_left 1s linear alternate infinite;
}

.material-icons-top-bottom{
  animation: direction_top_bottom 1s linear alternate infinite;
}


.arrow-right{
  text-align: end;
  margin-top: 50%;
}
.arrow-left{
  margin-top: 50%;
}
.arrow-up{
  text-align: center;
}
.arrow-down{
  margin-top: 65%;
  text-align: center;
}
