#delimitation {
    height: 1px;
    width: 40%;
    background-color: white;
}

.scrolling-infos {
    font-size: 2em;
    position: relative;
}

.infos {
    white-space: nowrap;
    will-change: transform;
    animation: marquee 30s linear infinite;
}

.infos p {
    padding-left: 10vw;
}

#gradientStart {
    color: transparent;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

#gradientEnd {
    color: transparent;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
    z-index: 1;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}