<div id="meteo-tiny">
  <app-meteo-tiny></app-meteo-tiny>
</div>

<div class="text-center m-5">
  <span class="material-icons">
    keyboard_arrow_up
  </span>
  <p *ngIf="router.url === '/restaurant/drink'">Dessert</p>
  <p *ngIf="router.url === '/restaurant/lunch'">Drink</p>
  <p *ngIf="router.url === '/restaurant/dinner'">Lunch</p>
  <p *ngIf="router.url === '/restaurant/dessert'">Dinner</p>
</div>

<div id="wrapper">
  <section *ngIf="router.url === '/restaurant/lunch'" class="item-1">
    <h1>Lunch</h1>
  </section>

  <div *ngIf="router.url === '/restaurant/lunch'" id="lunch" class="drop-dwn">
    <div class="row">
      <div class="col">
        <h2 class="title">For your hands</h2>
      </div>
    </div>


    <div *ngFor="let plateGroup of cardLunch" class="row-halves">
      <div class="col">
        <h2>Sandwiches</h2><br>
        <div *ngFor="let plate of plateGroup.sandwiches" >
          <h3>{{ plate.titleFR}}</h3>
          <p>{{plate.descriptionFR}}</p>
          <h3>{{plate.titleEN}}</h3>
          <p>{{plate.descriptionEN}}</p>
          <h5>{{plate.prix}}</h5><br>
        </div>
      </div>

      <div class="col">
        <h2>Wrap</h2><br>
        <div *ngFor="let plate of plateGroup.wraps">
          <h3>{{ plate.titleFR}}</h3>
          <p>{{plate.descriptionFR}}</p>
          <h3>{{plate.titleEN}}</h3>
          <p>{{plate.descriptionEN}}</p>
          <h5>{{plate.prix}}</h5><br>
        </div>
      </div>
    </div>

  </div>

  <section *ngIf="router.url === '/restaurant/dinner'" class="item-2">
    <h1>Dinner</h1>
  </section>
  <div *ngIf="router.url === '/restaurant/dinner'" id="dinner" class="drop-dwn">
    <div class="row">
      <div class="col">
        <h2 class="title">For your plate</h2>
      </div>
    </div>


    <div *ngFor="let plateGroup of cardDinner" class="row-halves">
      <div class="col">
        <h2>Steaks</h2><br>
        <div *ngFor="let plate of plateGroup.steaks" >
          <h3>{{ plate.titleFR}}</h3>
          <p>{{plate.descriptionFR}}</p>
          <h3>{{plate.titleEN}}</h3>
          <p>{{plate.descriptionEN}}</p>
          <h5>{{plate.prix}}</h5><br>
        </div>
      </div>

      <div class="col">
        <h2>Burger</h2><br>
        <div *ngFor="let plate of plateGroup.burgers">
          <h3>{{ plate.titleFR}}</h3>
          <p>{{plate.descriptionFR}}</p>
          <h3>{{plate.titleEN}}</h3>
          <p>{{plate.descriptionEN}}</p>
          <h5>{{plate.prix}}</h5><br>
        </div>
      </div>
    </div>

  </div>

  <section *ngIf="router.url === '/restaurant/dessert'" class="item-3">
    <h1>Desserts</h1>
  </section>
  <div *ngIf="router.url === '/restaurant/dessert'" id="desserts" class="drop-dwn">
    <div class="row">
      <div class="col">
        <h2 class="title">For your heart</h2>
      </div>
    </div>


    <div *ngFor="let plateGroup of cardDessert" class="row-halves">
      <div class="col">
        <h2>Classiques</h2><br>
        <div *ngFor="let plate of plateGroup.classique" >
          <h3>{{ plate.titleFR}}</h3>
          <p>{{plate.descriptionFR}}</p>
          <h3>{{plate.titleEN}}</h3>
          <p>{{plate.descriptionEN}}</p>
          <h5>{{plate.prix}}</h5><br>
        </div>
      </div>

      <div class="col">
        <h2>MilkShakes</h2><br>
        <div *ngFor="let plate of plateGroup.milkshake">
          <h3>{{ plate.titleFR}}</h3>
          <p>{{plate.descriptionFR}}</p>
          <h3>{{plate.titleEN}}</h3>
          <p>{{plate.descriptionEN}}</p>
          <h5>{{plate.prix}}</h5><br>
        </div>
      </div>
    </div>

  </div>

  <section *ngIf="router.url === '/restaurant/drink'" class="item-4">
    <h1>Drinks</h1>
  </section>
  <div *ngIf="router.url === '/restaurant/drink'" id="drinks" class="drop-dwn">
    <div class="row">
      <div class="col">
        <h2 class="title">For your liver</h2>
      </div>
    </div>

    <div *ngFor="let type of cardDrink">
      <h2 class="col">Boissons</h2>
      <div *ngFor="let drink of type.bieres" class="row">
        <p class="col-6">{{drink.title}}</p>
        <p class="col-6">{{drink.prix}}</p>
      </div>
      <h2 class="col">Softs</h2>
      <div *ngFor="let drink of type.soft" class="row">
        <p class="col-6">{{drink.title}}</p>
        <p class="col-6">{{drink.prix}}
      </div>
    </div>
  </div>

</div>

<div class="text-center m-5">
  <p *ngIf="router.url === '/restaurant/dinner'">Dessert</p>
  <p *ngIf="router.url === '/restaurant/dessert'">Drink</p>
  <p *ngIf="router.url === '/restaurant/drink'">Lunch</p>
  <p *ngIf="router.url === '/restaurant/lunch'">Dinner</p>
  <span class="material-icons">
    keyboard_arrow_down
  </span>
</div>

<app-infos-scrolling></app-infos-scrolling>
