#meteo {
  display: flex;
  justify-content: center;
}
#ad {
  margin-bottom: 8em;
  z-index: 100;
}

.imgHeader{
  margin:-1px;
}

.card{
  color: black;
}
.cardBody{
  height:12em;
}

.imgHeader{
  height:10em;
}

.activityCard{
  margin-top: 5em;
}

#content{
  z-index: 1;
}
